# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\micha\Google Drive\SMU SIS Stuff\Y3S2 2020-21\ITSA\Week9 Design Patterns\itsa_w9_designpatterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
